JSONWebToken/bin/JSONWebToken.dll
JSONWebToken/bin/JSONWebToken.dll.config
JSONWebToken/bin/JSONWebToken.pdb
JSONWebToken/bin/Microsoft.AI.Agent.Intercept.dll
JSONWebToken/bin/Microsoft.AI.DependencyCollector.dll
JSONWebToken/bin/Microsoft.AI.DependencyCollector.xml
JSONWebToken/bin/Microsoft.AI.PerfCounterCollector.dll
JSONWebToken/bin/Microsoft.AI.ServerTelemetryChannel.dll
JSONWebToken/bin/Microsoft.AI.ServerTelemetryChannel.xml
JSONWebToken/bin/Microsoft.AI.Web.dll
JSONWebToken/bin/Microsoft.AI.Web.xml
JSONWebToken/bin/Microsoft.AI.WindowsServer.dll
JSONWebToken/bin/Microsoft.AI.WindowsServer.xml
JSONWebToken/bin/Microsoft.ApplicationInsights.dll
JSONWebToken/bin/Microsoft.ApplicationInsights.xml
JSONWebToken/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
JSONWebToken/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
JSONWebToken/bin/Microsoft.IdentityModel.Logging.dll
JSONWebToken/bin/Microsoft.IdentityModel.Logging.xml
JSONWebToken/bin/Microsoft.IdentityModel.Tokens.dll
JSONWebToken/bin/Microsoft.IdentityModel.Tokens.xml
JSONWebToken/bin/Microsoft.Owin.Cors.dll
JSONWebToken/bin/Microsoft.Owin.Cors.xml
JSONWebToken/bin/Microsoft.Owin.dll
JSONWebToken/bin/Microsoft.Owin.Security.dll
JSONWebToken/bin/Microsoft.Owin.Security.Jwt.dll
JSONWebToken/bin/Microsoft.Owin.Security.Jwt.xml
JSONWebToken/bin/Microsoft.Owin.Security.OAuth.dll
JSONWebToken/bin/Microsoft.Owin.Security.OAuth.xml
JSONWebToken/bin/Microsoft.Owin.Security.xml
JSONWebToken/bin/Microsoft.Owin.xml
JSONWebToken/bin/Newtonsoft.Json.dll
JSONWebToken/bin/Newtonsoft.Json.xml
JSONWebToken/bin/Owin.dll
JSONWebToken/bin/roslyn/csc.exe
JSONWebToken/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
JSONWebToken/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
JSONWebToken/bin/roslyn/Microsoft.CodeAnalysis.dll
JSONWebToken/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
JSONWebToken/bin/roslyn/Microsoft.CSharp.Core.targets
JSONWebToken/bin/roslyn/Microsoft.VisualBasic.Core.targets
JSONWebToken/bin/roslyn/System.Collections.Immutable.dll
JSONWebToken/bin/roslyn/System.Reflection.Metadata.dll
JSONWebToken/bin/roslyn/vbc.exe
JSONWebToken/bin/roslyn/VBCSCompiler.exe
JSONWebToken/bin/roslyn/VBCSCompiler.exe.config
JSONWebToken/bin/System.IdentityModel.Tokens.Jwt.dll
JSONWebToken/bin/System.IdentityModel.Tokens.Jwt.xml
JSONWebToken/bin/System.Net.Http.Formatting.dll
JSONWebToken/bin/System.Net.Http.Formatting.xml
JSONWebToken/bin/System.Web.Cors.dll
JSONWebToken/bin/System.Web.Http.dll
JSONWebToken/bin/System.Web.Http.Owin.dll
JSONWebToken/bin/System.Web.Http.Owin.xml
JSONWebToken/bin/System.Web.Http.WebHost.dll
JSONWebToken/bin/System.Web.Http.WebHost.xml
JSONWebToken/bin/System.Web.Http.xml
JSONWebToken/bin/Thinktecture.IdentityModel.Core.dll
JSONWebToken/bin/Thinktecture.IdentityModel.Core.pdb
JSONWebToken/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JSONWebToken/obj/Debug/JSONWebToken.csproj.FileListAbsolute.txt
JSONWebToken/obj/Debug/JSONWebToken.csprojResolveAssemblyReference.cache
JSONWebToken/obj/Debug/JSONWebToken.dll
JSONWebToken/obj/Debug/JSONWebToken.pdb
JSONWebToken/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
JSONWebToken/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
JSONWebToken/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
JSONWebToken/scripts/ai.0.22.19-build00125.js
JSONWebToken/scripts/ai.0.22.19-build00125.min.js
packages/Microsoft.ApplicationInsights.2.1.0/lib/dotnet5.4/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.1.0/lib/dotnet5.4/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.1.0/lib/net40/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.1.0/lib/net40/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.1.0/lib/net45/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.1.0/lib/net45/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.1.0/lib/net46/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.1.0/lib/net46/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.1.0/lib/portable-win81+wpa81/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.1.0/lib/uap10.0/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.1.0/lib/wp8/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.1.0/Microsoft.ApplicationInsights.2.1.0.nupkg
packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net40/Microsoft.AI.Agent.Intercept.dll
packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net45/Microsoft.AI.Agent.Intercept.dll
packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1.nupkg
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/lib/net40/Microsoft.AI.DependencyCollector.dll
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/lib/net40/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/lib/net45/Microsoft.AI.DependencyCollector.dll
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/lib/net45/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/Microsoft.ApplicationInsights.DependencyCollector.2.1.0.nupkg
packages/Microsoft.ApplicationInsights.JavaScript.0.22.19-build00125/content/scripts/ai.0.22.19-build00125.js
packages/Microsoft.ApplicationInsights.JavaScript.0.22.19-build00125/content/scripts/ai.0.22.19-build00125.min.js
packages/Microsoft.ApplicationInsights.JavaScript.0.22.19-build00125/Microsoft.ApplicationInsights.JavaScript.0.22.19-build00125.nupkg
packages/Microsoft.ApplicationInsights.JavaScript.0.22.19-build00125/tools/prefix.html
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/lib/net40/Microsoft.AI.PerfCounterCollector.dll
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/lib/net45/Microsoft.AI.PerfCounterCollector.dll
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0.nupkg
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net40/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net40/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net40/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net40/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net40/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net45/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net45/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net45/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net45/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net45/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/lib/net40/Microsoft.AI.Web.dll
packages/Microsoft.ApplicationInsights.Web.2.1.0/lib/net40/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.Web.2.1.0/lib/net45/Microsoft.AI.Web.dll
packages/Microsoft.ApplicationInsights.Web.2.1.0/lib/net45/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.Web.2.1.0/Microsoft.ApplicationInsights.Web.2.1.0.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/lib/net40/Microsoft.AI.WindowsServer.dll
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/lib/net40/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/lib/net45/Microsoft.AI.WindowsServer.dll
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/lib/net45/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/Microsoft.ApplicationInsights.WindowsServer.2.1.0.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/Tools/install.ps1
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.dll
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.dll
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0.nupkg
packages/Microsoft.AspNet.Cors.5.0.0/lib/net45/System.Web.Cors.dll
packages/Microsoft.AspNet.Cors.5.0.0/Microsoft.AspNet.Cors.5.0.0.nupkg
packages/Microsoft.AspNet.WebApi.5.2.3/Microsoft.AspNet.WebApi.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.3/Microsoft.AspNet.WebApi.Client.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.Core.5.2.3/Content/web.config.transform
packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.dll
packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.Core.5.2.3/Microsoft.AspNet.WebApi.Core.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.Owin.5.2.3/lib/net45/System.Web.Http.Owin.dll
packages/Microsoft.AspNet.WebApi.Owin.5.2.3/lib/net45/System.Web.Http.Owin.xml
packages/Microsoft.AspNet.WebApi.Owin.5.2.3/Microsoft.AspNet.WebApi.Owin.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.dll
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.xml
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/Microsoft.AspNet.WebApi.WebHost.5.2.3.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/init.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/uninstall.ps1
packages/Microsoft.IdentityModel.Logging.1.0.0/lib/net451/Microsoft.IdentityModel.Logging.dll
packages/Microsoft.IdentityModel.Logging.1.0.0/lib/net451/Microsoft.IdentityModel.Logging.xml
packages/Microsoft.IdentityModel.Logging.1.0.0/lib/netstandard1.4/Microsoft.IdentityModel.Logging.dll
packages/Microsoft.IdentityModel.Logging.1.0.0/lib/netstandard1.4/Microsoft.IdentityModel.Logging.xml
packages/Microsoft.IdentityModel.Logging.1.0.0/Microsoft.IdentityModel.Logging.1.0.0.nupkg
packages/Microsoft.IdentityModel.Tokens.5.0.0/lib/net451/Microsoft.IdentityModel.Tokens.dll
packages/Microsoft.IdentityModel.Tokens.5.0.0/lib/net451/Microsoft.IdentityModel.Tokens.xml
packages/Microsoft.IdentityModel.Tokens.5.0.0/lib/netstandard1.4/Microsoft.IdentityModel.Tokens.dll
packages/Microsoft.IdentityModel.Tokens.5.0.0/lib/netstandard1.4/Microsoft.IdentityModel.Tokens.xml
packages/Microsoft.IdentityModel.Tokens.5.0.0/Microsoft.IdentityModel.Tokens.5.0.0.nupkg
packages/Microsoft.Net.Compilers.1.0.0/build/Microsoft.Net.Compilers.props
packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
packages/Microsoft.Net.Compilers.1.0.0/tools/csc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CSharp.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.VisualBasic.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Collections.Immutable.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Reflection.Metadata.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/vbc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.dll
packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.XML
packages/Microsoft.Owin.3.0.1/Microsoft.Owin.3.0.1.nupkg
packages/Microsoft.Owin.Cors.3.0.1/lib/net45/Microsoft.Owin.Cors.dll
packages/Microsoft.Owin.Cors.3.0.1/lib/net45/Microsoft.Owin.Cors.XML
packages/Microsoft.Owin.Cors.3.0.1/Microsoft.Owin.Cors.3.0.1.nupkg
packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.dll
packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.XML
packages/Microsoft.Owin.Security.3.0.1/Microsoft.Owin.Security.3.0.1.nupkg
packages/Microsoft.Owin.Security.Jwt.3.0.1/lib/net45/Microsoft.Owin.Security.Jwt.dll
packages/Microsoft.Owin.Security.Jwt.3.0.1/lib/net45/Microsoft.Owin.Security.Jwt.xml
packages/Microsoft.Owin.Security.Jwt.3.0.1/Microsoft.Owin.Security.Jwt.3.0.1.nupkg
packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.dll
packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.XML
packages/Microsoft.Owin.Security.OAuth.3.0.1/Microsoft.Owin.Security.OAuth.3.0.1.nupkg
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
packages/Newtonsoft.Json.9.0.1/tools/install.ps1
packages/Owin.1.0/lib/net40/Owin.dll
packages/Owin.1.0/Owin.1.0.nupkg
packages/System.IdentityModel.Tokens.Jwt.5.0.0/lib/net451/System.IdentityModel.Tokens.Jwt.dll
packages/System.IdentityModel.Tokens.Jwt.5.0.0/lib/net451/System.IdentityModel.Tokens.Jwt.xml
packages/System.IdentityModel.Tokens.Jwt.5.0.0/lib/netstandard1.4/System.IdentityModel.Tokens.Jwt.dll
packages/System.IdentityModel.Tokens.Jwt.5.0.0/lib/netstandard1.4/System.IdentityModel.Tokens.Jwt.xml
packages/System.IdentityModel.Tokens.Jwt.5.0.0/System.IdentityModel.Tokens.Jwt.5.0.0.nupkg
packages/Thinktecture.IdentityModel.Core.1.4.0/lib/net45/Thinktecture.IdentityModel.Core.dll
packages/Thinktecture.IdentityModel.Core.1.4.0/lib/net45/Thinktecture.IdentityModel.Core.pdb
packages/Thinktecture.IdentityModel.Core.1.4.0/Thinktecture.IdentityModel.Core.1.4.0.nupkg
.vs/JSONWebToken/v14/.suo
